<style type="text/css">
.category {
    border: solid #ccc;
    border-width: 1px 0 1px 0;
    background: #ccc;
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
	font-size: 20px;
    padding: 5px;
}
</style>

    <div class="category">Simulation</div>
    {% for post in site.categories.Simulation %}
        {% cycle 'add row' : '<div class="row">', nil, nil %}
        <div class="col-sm-4">
            <div class="preview-panel">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img src="{{ post.preview | prepend: site.baseurl }}">
                </a>
                {{ post.title }}
           </div>
        </div>
        {% cycle 'end row' : nil, nil, '</div>' %}
    {% endfor %}
	{% cycle 'end row' : nil, '</div>', '</div>' %}
	<hr>
	
	<h2>Rendering</h1>
    {% for post in site.categories.Rendering %}
        {% cycle 'add row' : '<div class="row">', nil, nil %}
        <div class="col-sm-4">
            <div class="preview-panel">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img src="{{ post.preview | prepend: site.baseurl }}">
                </a>
                {{ post.title }}
           </div>
        </div>
        {% cycle 'end row' : nil, nil, '</div>' %}
    {% endfor %}
	{% cycle 'end row' : nil, '</div>', '</div>' %}
	<hr>
	
	<h2>VFX</h1>
    {% for post in site.categories.VFX %}
        {% cycle 'add row' : '<div class="row">', nil, nil %}
        <div class="col-sm-4">
            <div class="preview-panel">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img src="{{ post.preview | prepend: site.baseurl }}">
                </a>
                {{ post.title }}
           </div>
        </div>
        {% cycle 'end row' : nil, nil, '</div>' %}
    {% endfor %}
	{% cycle 'end row' : nil, '</div>', '</div>' %}
	<hr>	